<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>{{ name }}</title>
</head>
<header class='masthead'>
  <p class='masthead-heading'>Cristian</p>
  <h1 class='masthead-heading'>Lopez</h1>
</header>
<body style="background-color:grey;">
    <section class="introduction-section">
        <h1>Introduction</h1>
        <p>My name is Cristian Lopez, a computer science major at the University of Texas Rio Grande Valley</p>
        <p>I love competitive programming, music, and reading!</p>
    </section>
    <section class="questions-section">
        <h1>More About Me</h1>
        <h2>What are your favorite hobbies?</h2>
        <p>Reading and listening to music</p>
        <h2>What's your dream job?</h2>
        <p>My dream job is software engineering at Jane Street Capital.</p>
        <h2>Location?</h2>
        <p>McAllen, TX</p>
        <h2>Why do you want to be a web developer?</h2>
        <p>I like the logic and modularity of programming.</p>
    </section>
</body>

<footer class="content-footer">
    <p>Social Networks:</p>
    <ul class="social">
        <li><a class="css-is-deranged" href="https://github.com/CLopez021">GitHub</a></li>
        <li><a class="css-is-deranged" href="https://www.linkedin.com/in/cristian-lopez-b26981213/">LinkedIn</a></li>
        <li><a class="css-is-deranged" href="https://leetcode.com/CristianLopez/">LeetCode</a></li>
    </ul>
  
</footer>